.table {
  position: relative;
  padding-bottom: 125px;
}
.table table {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
.table table th {
  color: var(--secondary-color);
  padding: 10px;
  border: 1px solid #6d6d6d;
  text-align: center;
}
.table table td {
  padding: 10px;
  border: 1px solid #6d6d6d;
  text-align: center;
}
@media (max-width: 820px) {
  .table {
    display: none;
  }
}
