.card{
    background-color: var(--main-color) !important;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 2px #444;
    margin: auto;
    height: 100% !important;
  }
  .card h5{
    font-weight: normal;
    text-align: center;
  }
  .card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width:90px;
    height:90px;
    border-radius: 50%;
    padding: 25px;
    margin: 30px auto;
  }
  .card-icon svg{
    width: 50px;
  }
  .card-title{
    margin: 10px auto;
    letter-spacing: 0.5px;
  }
  .card-text{
    text-align: center;
    line-height: 1.6;
    font-size: 14px;
    margin: 10px auto;
  } 
  .card a{
    background-color: var(--secondary-color);
    color: #fff;
    width: fit-content;
    margin: auto;
    padding: 10px 25px;
    border-radius: 50px;
    letter-spacing: 1px;
    margin-top: 20px;
  }