.main-programs {
  position: relative;
  background-size: cover;
  background-position: center  ;
  height: 75vh;
  color: #fff;
}
.main-programs::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background-color: #00000080;
}
.main-programs h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
}
.program-sections {
  position: absolute;
  background-color: var(--secondary-color);
  text-align: center;
  bottom: 0;
  width: 100%;
}
.program-sections .Link {
  display: inline-block;
  margin: 10px 0px;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.program-sections .Link:not(:last-child) {
  border-right: 2px solid #fff;
}
.program-sections a.active {
  color: var(--main-color) !important;
}
@media (max-width: 767px) {
  .program-sections .Link {
    font-size: 12px;
    margin: 0;
  }
  .main-programs h2 {
    font-size: 28px;
    width: 100%;
  }
}
.Cyprus{
  background-image: url('../../../../assests/images/cyprusProgram.png');
}