.social-icons-main {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }
  .social-icons-main a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 5px;
    font-size: 22px;
    margin-top: 20px;
    transition: var(--main-transition);
  }
  .social-icons-main a:hover{
  transform: scale(1.1);
  }
  @media (max-width:820px){
    .social-icons-main{
        display: none;
    }
  }